<%= fields_for :question do |ques| %>
  <li class="exam-question-li">
	<div class="exam-question">
		<% if params.has_key?(:question_num) %>
			<%= params[:question_num].to_i.ordinalize %>
		<% else %>
			<%= 1.ordinalize %>
		<% end %>
	    <%= ques.label "Question :" %>
	    <% if params.has_key?(:question_name) %>
			<%= ques.text_field :name, :value => "#{params[:question_name]}" %>
		<% else %>
			<%= ques.text_field :name %>
		<% end %>
	</div>
	<ul id="answer-list">
		<%= render 'answers/answer' %>
	</ul>
	<%= link_to "Add Answer", "#add", :class => "add-answer" %>
  </li>
<% end %>