<% provide(:title, "Home Page") %>
<p>Here's a list of all categories.</p>
<div class="homepage-list">
	<% @categories.each do |cat| %>
	<%= link_to category_path(cat) do %>
		<div class="course-list">
			<div class="category-image">
				<img src="data:<%= cat.imagetype %>;base64,<%= cat.image.to_s %>" />
			</div>
			<div class="cours-cont">
				<h2><%= cat.title %></h2>
				<div class="home-cour-list">Number of Programs: <%= cat.numprog %></div>
				<div>Number of Courses: <%= cat.numcour %></div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>