<% provide(:title, "Search") %>
<span id="search-page">
	Course/Program: 
	<%= form_tag('/search') do %>
		<%= text_field_tag 'fname', @search %>
  		<%= submit_tag 'Search', :class => 'search-btn' %>
	<% end %>
	<% if(params.has_key?(:fname)) %>
		<div class="search-title">
			Programs:
		</div>
		<% if @program.length != 0 %>
			<% @program.each do |program| %>
				<div class="name-search">
					<%= link_to program.title, program_path(program) %>
				</div>
			<% end %>
		<% else %>
			<div class="name-search">
				No results found.
			</div>
		<% end %>
		<div class="search-title">
			Courses:
		</div>
		<% if @course.length != 0 %>
			<% @course.each do |course| %>
				<div class="name-search">
					<%= link_to course.title, course_path(course) %>
				</div>
			<% end %>
		<% else %>
			<div class="name-search">
				No results found.
			</div>
		<% end %>
	<% end %>
</span>