<% provide(:title, "Database") %>

<div id="userdb">
<ul class="user-list">
	<li>
		<span class="users">NAME</span>
		<span class="users">EMAIL</span>
		<span class="users"># COURSES</span>
		<span class="users"># FILES</span>
		<span class="users">ADMIN</span>
		<span class="users">DELETE?</span>
	</li>
	<% @users.each do |user| %>
	<li>
		<span class="users"><%= user.name %></span>
		<span class="users"><%= user.email %></span>
		<span class="users"><%= user.courses.count %></span>
		<span class="users"><%= num_notes(user) %></span>
		<span class="users"><%= user.admin %></span>
		<span class="users">
			<% if current_user.admin? && !current_user?(user) %>
				<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
			<% else %>
			 &nbsp
			<% end %>
		</span>
	</li>
	<% end %>
</ul>
</div>