<% provide(:title, "Edit Program") %>
<h1>
	<%= @program.title %><span class="edit-title-course"><%= link_to "Return to program", program_path(@program) %></span>
</h1>
<% if params.has_key?(:errors) %> 
	<div class="error_explanation">
		<div class="alert alert-error">
			<% if params.has_key?(:youtuber) %>
				The video form contains <%= pluralize(params[:errors].count, "error") %>.
			<% else %>
				The file form contains <%= pluralize(params[:errors].count, "error") %>.
			<% end %>
		</div>
		<ul>
			<% params[:errors].each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="course-edit-form-cont">
<%= form_for @program do |f| %>
<%= render 'shared/error_messages', object: f.object, :html => { :id => "myform" } %>
	<div>
		<%= f.label "Program Title :" %>
	<span>
		<%= f.text_field :title %>
	</span>
	</div>
	<div>
		<%= f.label "Program Description :" %>
	<span>
		<%= f.text_area :description %>
	</span>
	</div>
	<div>
		<%= f.label "Program Category :" %>
		<%= f.select :category, Category.all.collect {|category| [ category.title, category.id ] } %>
	</div>
	<div><%= f.submit "Update Program Info", class: "subcon" %></div>
<% end %>
</div>
<div>
<span> Courses 
	<%= link_to "Add", addcourses_path(:program => params[:id]), :class => "prereq-style" %>
	<span>
		<%= link_to "Set up prerequisites", {controller: "programs", action: "prerequisites", :id => "#{@program.id}"}, {:class => "prereq-style"} %>
	</span>
	<span>
		<%= link_to "Remove prerequisites", {controller: "programs", action: "removeprerequisites", :id => "#{@program.id}" },  {:class => "prereq-style"} %>
	</span>
</span>
<div class="course-edit-bar"></div>
<ul class="notes">
	<% @courses.each_with_index do |course, i| %>
		<div>
			<span class="content">
				<%= link_to (image_tag "arrow-up.png"), moveupcourse_path(:program => @program.id, :course => course.id), {:class => "list_arrow"}%>
				<%= link_to (image_tag "arrow-down.png"), movedowncourse_path(:program => @program.id, :course => course.id), {:class => "list_arrow"}%>
				<%= i+1 %>.
				<%= link_to course.title, course_path(course, :program => @program.id) %>
			</span>
			<span class="delete-btn"><%= link_to "Remove", destroycourse_program_path(@program, :course => course.id) %></span>
		</div>
	<% end %>
</ul>
</div>