<% provide(:title, "Edit Program") %>
<h1>
	<%= @program.title %><span class="edit-title-course"><%= link_to "Return to program", program_path(@program) %></span>
</h1>
<% if params.has_key?(:errors) %> 
	<div class="error_explanation">
		<div class="alert alert-error">
			<% if params.has_key?(:youtuber) %>
				The video form contains <%= pluralize(params[:errors].count, "error") %>.
			<% else %>
				The file form contains <%= pluralize(params[:errors].count, "error") %>.
			<% end %>
		</div>
		<ul>
			<% params[:errors].each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="course-edit-form-cont">
	<div id="program_form_edit">
	<%= render "program_form" %>
	</div>
</div>
<div>
<span> Courses 
	<%= link_to "Add", addcourses_path(:program => params[:id]), :class => "prereq-style" %>
	<span>
		<%= link_to "Set up prerequisites", {controller: "programs", action: "prerequisites", :id => "#{@program.id}"}, {:class => "prereq-style"} %>
	</span>
	<span>
		<%= link_to "Remove prerequisites", {controller: "programs", action: "removeprerequisites", :id => "#{@program.id}" },  {:class => "prereq-style"} %>
	</span>
</span>
<div class="course-edit-bar"></div>
<ul class="notes">
	<div id="course_list_id">
		<%= render "course_list" %>
	</div>
</ul>
</div>