<% provide(:title, "All Programs") %>
<div class="courses">
<h1>Here's a list of all programs!</h1>
<p>Sorted: rating algo</p>
<% @programs.each do |program| %>
	<%= link_to(program_path(program)) do %>
	<div class="course-list">
		<div class="category-image">
			<% if !Category.find_by_id(program.category).nil? %>
				<img src="data:<%= Category.find_by_id(program.category).imagetype %>;base64,<%= Category.find_by_id(program.category).image.to_s %>" />
			<% end %>
		</div>
		<div class="cours-cont">
			<div class="cours-top">
				<span class="courstitle-list">
					<%= program.title %>
				</span>
				<span class="smaller">
					By <%= User.find_by_id(program.user_id).name %>
				</span>
			</div>
			<div class="cours-middle"><%= program.short_desc %></div>
			<div class="cours-stats">
				<span>
					Courses: <%= program.courses.count %> &nbsp &nbsp Students: <%= program.numstudents %> &nbsp &nbsp Rating:
				</span>
				<span class="list-star">
					<% if program.average_rating == 0 %>
						Not rated
					<% else %>
						<span><%= program.average_rating %> stars (<%= program.num_rating%>)</span>
					<% end %>
				</span>
			</div>
		</div>
	</div>
	<% end %>
<% end %>
</div>