<% provide(:title, @program.title) %>
<%= javascript_tag do %>
  var alllines = [<%=raw @allprereqs.to_json %>];
  var allpassed = [<%=raw @passedcourses.to_json %>];
  var underdone = [<%=raw @doneunder.to_json %>];
  var alltop = <%= @coursestop.to_json.html_safe %>;
  var allbottom = <%= @coursesbottom.to_json.html_safe %>;
<% end %>
<div>
	<h1>
		<span><%= @program.title%></span><span class="edit-title-course"><%= link_to "Return to program", program_path(@program) %></span>
	</h1>
</div>
<%= @coursestop %>
<%= @coursesbottom %>
<div id="prereq-indie">
	<div class="independent-list">
	Independant courses:
	<% if @nothingcourse.empty? %>
		None.
	<% end %>
	<% @nothingcourse.each do |course| %>
		<% if @passedcourses.include?(course.id) %>
			<div class="prereq-green all-prereqs" id="<%=course.id%>">
				<%= link_to course.title, course_path(course, :program => params[:id]) %>
			</div>
		<% else %>
			<div class="prereq-blue all-prereqs" id="<%=course.id%>">
				<%= link_to course.title, course_path(course, :program => params[:id]) %>
			</div>
		<% end %>
	<% end %>
	</div>
	<div class="prereq-legend">
		<div class="prereq-green all-prereqs green">
			Completed
		</div>
		<div class="prereq-blue all-prereqs">
			Have prereqs
		</div>
		<div class="prereq-course all-prereqs">
			Don't have prereqs
		</div>
	</div>
</div>
<div id="jquery-find">&nbsp</div>
<div id="myelement">
<% (0..@highestlevel).each do |i| %>
	<div class="prereq-level">
		<% @courselevels.each do |key, value| %>
			<% if value == (@highestlevel-i) %>
				<% if @passedcourses.include?(key.id) %>
					<div class="prereq-green all-prereqs" id="<%=key.id%>">
						<%= link_to key.title, course_path(key, :program => params[:id]) %>
						<div class="green-test"></div>
					</div>
				<% else %>
					<% if @doneunder.include?(key.id) %>
						<div class="prereq-blue all-prereqs" id="<%=key.id%>">
							<%= link_to key.title, course_path(key, :program => params[:id]) %>
							<div class="green-test"></div>
						</div>
					<% else %>
						<div class="prereq-course all-prereqs" id="<%=key.id%>">
							<%= link_to key.title, course_path(key, :program => params[:id]) %>
							<div class="green-test"></div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>
</div>