<% provide(:title, @program.title) %>
<%= javascript_tag do %>
  var alllines = [<%=raw @allprereqs.to_json %>];
<% end %>
<div>
	<h1>
		<span class="smaller"><%= link_to @program.title, program_path(@program) %></span>
	</h1>
</div>
<div>
	Independant:
	<% @nothingcourse.each do |course| %>
		<%= link_to course.title, course_path(course, :program => params[:id]) %>
	<% end %>
</div>
<div id="jquery-find">&nbsp</div>
<div id="myelement">
<% (0..@highestlevel).each do |i| %>
	<div class="prereq-level">
		<% @courselevels.each do |key, value| %>
			<% if value == (@highestlevel-i) %>
				<div class="prereq-course" id="<%=key.id%>"><%= link_to key.title, course_path(key, :program => params[:id]) %></div>
			<% end %>
		<% end %>
	</div>
<% end %>
</div>