<% provide(:title, @program.title) %>
<div class="course-show">
	<div class="course-info">
		<h1>
			<%= @program.title %><span class="smaller"> By <%= @program.user.name %></span>
		</h1>
		<div id="class-des">
			<%= @program.description %>
		</div>
	</div>
	<div class="course-btns">
		<% if current_user.registered?(@program) %>
			<%= render 'remove_registration' %>
		<% else %>
			<%= render 'add_registration' %>
		<% end %>
		<% if progcreate %>
			<div class="edit-cont">
				<div class="edit-btn profile-btn">
					<%= link_to "Edit", edit_program_path(@program) %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="files-container">
		<div id="cou-title">
			COURSES <%= link_to "Prerequisite Tree", prereq_tree_program_path(@program) %>
		</div>
		<div class="files-bar"></div>
		<ul class="prog-cours-list">
		<% if @cours_items.any? %>
			<% @cours_items.each do |cours| %>
				<li><%= link_to cours.title, course_path(cours, :program => @program.id) %></li>
			<% end %>
		<% end %>
		</ul>
	</div>
	<% if !@cours_items.nil? and current_user.registered?(@program) %>
	<div class="exams-container">
		<div id="cou-title">
			PROGRESS REPORT
		</div>
		<div class="files-bar"></div>
		<div>&nbsp</div>
		<div class="progress-bar"><div class="progress-bar-perc" style="width:<%=@progress_width%>%"></div></div>
		<div>
			Completed <%= @total_course %> of <%= @cours_items.count %> courses.
		</div>
	</div>
	<% end %>
	<% if !current_user.registered?(@program) %>
		<div class="reviews-container">
			<div class="reviews">
				<span class="file-upload">
					<span>Program Reviews</span>
				</span>
			</div>
			<div class="files-bar"></div>
			<div class="course-rating-cont">
				<% if @averagerating == "0" %>
					<div class="course-rating-title">No Ratings Yet | </div>
				<% else %>
					<div class="course-rating-title">
						<span class="star-title">Average Rating: </span>
						<span class="star-cont">
							<span class="star" style="width:<%= @good_starwidth %>">★★★★★</span>
							<span class="anti-star" style="width:<%= @anti_starwidth %>"><span class="star-right">☆☆☆☆☆</span></span>
						</span>
						<span class="star-title">(<%= pluralize(@num_rates, "rating")%>)</span> | </div>
				<% end %>
				<div class="course-rating">
					<%= form_for @rating do |f| %>
						<%= f.radio_button :rating, "1" %> <%= f.label :rating, "1" %>
						<%= f.radio_button :rating, "2" %> <%= f.label :rating, "2" %>
						<%= f.radio_button :rating, "3" %> <%= f.label :rating, "3" %>
						<%= f.radio_button :rating, "4" %> <%= f.label :rating, "4" %>
						<%= f.radio_button :rating, "5" %> <%= f.label :rating, "5" %>
						<%= f.hidden_field :id, :value => params[:id] %>
						<%= f.submit "Rate Program!"%>
					<% end %>
				</div>
			</div>
			<div class="review-text">
				<ul class="review-list">
					<% @programreviews.each do |review| %>
						<li>
							<h4>
								<% if !(review.rating.nil?) %>
									<% @good_starwidth_person = (review.rating/0.05).to_f.to_s + "%" %>
									<% @anti_starwidth_person = ((5-review.rating)/0.05).to_f.to_s + "%" %>
									<span class="star-cont">
										<span class="star" style="width:<%= @good_starwidth_person %>">★★★★★</span>
										<span class="anti-star" style="width:<%= @anti_starwidth_person %>">
											<span class="star-right">☆☆☆☆☆</span>
										</span>
									</span>
								<% else %>
									No rating
								<% end %>
								<%= review.review_title %> <span id="reviewer-name"> By <%= review.user.name %></span>
							</h4>
							<span id="reviewer-content"><%= review.review_content %></span>
						</li>
					<% end %>
				</ul>
				<div>
					<%= form_for @review do |f| %>
						<div>
							<%= f.label :review_title, "Review Title :" %>
							<%= f.text_field :review_title %>
						</div>
						<div id="review-box-cont">
							<div><%= f.label :review_content, "Review :" %></div>
							<div><%= f.text_area :review_content, :id => "review-box"%></div>
						</div>
						<%= f.hidden_field :id, :value => params[:id] %>
						<%= f.submit "Submit Review"%>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>