<% provide(:title, @program.title) %>
<div class="course-show">
	<h1>
		<%= @program.title %>
	</h1>
	<% if progcreate %>
		<div class="edit-btn profile-btn">
			<%= link_to "Edit", edit_program_path(@program) %>
		</div>
	<% end %>
	<div id="class-des">
		<%= @program.description %>
	</div>
	<div id="cou-title">
		COURSES
		<span>
			<%= link_to "Add", addcourses_path(:course => params[:id]) %>
		</span>
	</div>
	<div class="files-bar"></div>
	<ul class="prog-cours-list">
	<% if @cours_items.any? %>
		<% @cours_items.each do |cours| %>
			<li><%= link_to cours.title, course_path(cours) %></li>
		<% end %>
	<% end %>
	</ul>
</div>