<% provide(:title, @program.title) %>
<div class="course-show">
	<div class="course-info">
		<h1>
			<%= @program.title %><span class="smaller"> By <%= @program.user.name %></span>
		</h1>
		<div id="class-des">
			<%= @program.description %>
		</div>
	</div>
	<div class="course-btns">
		<div id="prog_registration">
			<%= render 'add_registration' %>
		</div>
		<% if progcreate %>
			<div class="edit-cont">
				<div class="edit-btn profile-btn">
					<%= link_to "Edit", edit_program_path(@program) %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="files-container">
		<div id="cou-title">
			COURSES <%= link_to "Prerequisite Tree", prereq_tree_program_path(@program) %>
		</div>
		<div class="files-bar"></div>
		<ul class="prog-cours-list">
		<% if @cours_items.any? %>
			<% @cours_items.each do |cours| %>
				<li><%= link_to cours.title, course_path(cours, :program => @program.id) %></li>
			<% end %>
		<% end %>
		</ul>
	</div> 
	<div id="load_progress">
		<%= render 'progress_partial' %>
	</div>
	<div id="load_reviews">
		<%= render 'reviews_partial' %>
	</div>
</div>