<% provide(:title, "My Classes") %>
<div class="course-btns">
	<div class="user-btn profile-btn">
		<%= link_to "Create Class", newcourse_path %>
	</div>
	<div class="prog-btn profile-btn">
		<%= link_to "Create Program", newprogram_path %>
	</div>
</div>
<div class="creation-info">
	<div class="creation-course colu">
		<ul class="course-list">
			<li>
				<h1>My Created Courses</h1>
			</li>
			<% @courses.each do |course| %>
			<li>
				<div class="crea-course">
					<span class="course-titl"><%= link_to course.title, course_path(course) %></span>
					<span class="smaller editedit"><%= link_to "Edit", edit_course_path(course) %></span>
					<span class="smaller delete-btn"><%= link_to "Delete", course, method: :delete, 
												data: { confirm: "You sure?" },
												title: course.title %></span>
					<div>Number of registered students: <%= @numberstudents[course.id] %></div>
					<div>Number of registered programs: <%= course.programs.count %></div>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="creation-program colu">
		<ul class="course-list">
			<li>
				<h1>My Created Programs</h1>
			</li>
			<% @programs.each do |program| %>
			<li>
				<div class="crea-course">
				<span class="course-titl"><%= link_to program.title, program_path(program) %></span>
				<span class="smaller editedit"><%= link_to "Edit", edit_program_path(program) %></span>
				<span class="smaller delete-btn"><%= link_to "Delete", program, method: :delete, 
											data: { confirm: "You sure?" },
											title: program.title %></span>
					<div>Number of registered students: <%= @numberstudentsprog[program.id] %></div>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>