<% provide(:title, 'Sign Up') %>

<div id="signup_menu">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="signup_menu_chose">
		<div>
			<%= f.label :name %>
		</div>
		<div>
			<%= f.text_field :name %>
		</div>

		<div>
			<%= f.label :email %>
		</div>
		<div>
			<%= f.text_field :email %>
		</div>
		
		<div>
			<%= f.label :password %>
		</div>
		<div>
			<%= f.password_field :password %>
		</div>
		<div>
			<%= f.label :password_confirmation, "Confirmation" %>
		</div>
		<div>
			<%= f.password_field :password_confirmation %>
		</div>
		</div>
		<div class="signup-check1">
			<%= f.check_box :creator %>
			<%= f.label :creator, "Will you create Programs or Courses?", :class => "signup-check" %>
    	</div>
		<div id="signup-button" class="signup_menu_chose">
			<%= f.submit "Create my account", class: "btn-confirm" %>
		</div>
	<% end %>
</div>