<% provide(:title, @user.name) %>
<div class="course-info">
	<h1>
		<%= @user.name %>
	</h1>
	<% if @programs.count == 0 and @courses.count == 0 %>
		<div>
			You aren't registered in any courses or programs. To register in one, you can either browse thru the listings or search for specific ones.
		</div>
	<% end %>
	<% if @programs.count > 0 %>
		<h2>Programs</h2>
	<% end %>
	<h4>
		<div id="prog-list">
			<% @programs.each do |program| %>
				<div class="courstitle">
					<%= link_to "#{program.title}", program_path(program) %>
					<div>By <%= program.user.name %></div>
				</div>
			<% end %>
		</div>
	</h4>
	<% if @courses.count > 0 %>
		<h2>Courses</h2>
	<% end %>
	<h4>
		<div id="cour-list">
			<% @courses.each do |course| %>
				<div class="courstitle"><%= link_to "#{course.title}", course_path(course) %></div>
			<% end %>
		</div>
	</h4>
</div>
<div class="course-btns">
	<% if current_user?(@user) %>
		<% if current_user.creator %>
			<div class="user-btn profile-btn">
				<%= link_to "Create Class", newcourse_path %>
			</div>
			<div class="myclasses profile-btn">
				<%= link_to "My Creations", creations_path %>
			</div>
		<% end %>
	<% end %>
</div>