<%= form_for @program do |f| %>
<%= render 'shared/error_messages', object: f.object, :html => { :id => "myform" } %>
<div class="course_form">
	<div>
		<%= f.label "Program Title :" %>
	</div>
	<div id='course-title'>
		<%= f.text_field :title %>
	</div>
</div>
<div class="course_form" id="courdes">
	<div>
		<%= f.label "Short Description :" %>
	</div>
	<div id="course-des-short">
		<%= f.text_area :short_desc %>
	</div>
</div>
<div class="course_form" id="courdes">
	<div>
		<%= f.label "Full Description :" %>
	</div>
	<div id="course-des">
		<%= f.text_area :description %>
	</div>
</div>
<div>
	<%= f.label "Course Category :" %>
	<%= f.select :category, Category.all.collect {|category| [ category.title, category.id ] } %>
</div>
<div><%= f.submit "Create Program!", class: "subcon" %></div>
<% end %>