<div class="files-btn-file">
	<%= form_for @note do |r| %>
	<%= render 'shared/error_messages', object: r.object, :html => { :id => "myform" } %>
		<%= r.hidden_field :id, :value => params[:id] %>
		<%= r.hidden_field :youtube, :value => "yes" %>
		<%= r.label "Create Video" %>
		<div>
		<%= r.label "Video Title : " %>
		<%= r.text_field :file_title %>
		</div>
		<div>
		<%= r.label "Youtube link : " %>
		<%= r.text_field :content %>
		</div>
		<%= r.submit "Upload link", class: "subcon" %>
	<% end %>
</div>