<%= form_for(@course, :remote => true) do |f| %>
<%= render 'shared/error_messages', object: f.object, :html => { :id => "myform" } %>
	<div>
		<%= f.label "Course Title :" %>
	<span>
		<%= f.text_field :title %>
	</span>
	</div>
	<div>
		<%= f.label "Short Description :" %>
	<span>
		<%= f.text_area :short_desc %>
	</span>
	</div>
	<div>
		<%= f.label "Full Description :" %>
	<span>
		<%= f.text_area :description %>
	</span>
	</div>
	<div>
		<%= f.label "Course Category :" %>
		<%= f.select :category, Category.order_by('title ASC').all.collect {|category| [ category.title, category.id ] } %>
	</div>
	<div><%= f.submit "Update Course Info", class: "subcon", :disable_with => "Updating…" %></div>
<% end %>