<% provide(:title, "Edit Course") %>
<h1>
	<%= @course.title %> <span class="edit-title-course"><%= link_to "Return to course", course_path(@course) %></span>
</h1>
<% if params.has_key?(:errors) %> 
	<div class="error_explanation">
		<div class="alert alert-error">
			<% if params.has_key?(:youtuber) %>
				The video form contains <%= pluralize(params[:errors].count, "error") %>.
			<% else %>
				The file form contains <%= pluralize(params[:errors].count, "error") %>.
			<% end %>
		</div>
		<ul>
			<% params[:errors].each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="course-edit-form-cont">
	<div id="course_edit_form">
		<%= render "course_edit" %>
	</div>
</div>
<div class="edit-note-list">
	Notes and Videos
<div class="course-edit-bar"></div>
<div class="note_formform">
	<div class="files-btn-sub">
		<div id="note_edit_form">
			<%= render "notes/note_form" %>
		</div>
	</div>
	<div id="vid_edit_form">
		<%= render "shared/youtube_form" %>
	</div>
</div>
<div class="vid_formform">
<% if @notes.count > 0 %>
<div>
	Rearrange order:
</div>
<% else %>
	No files or videos created yet.
<% end %>
<ul class="notes">
<div id="list_note_det">
	<%= render "notes/note_list" %>
</div>
</ul>
</div>
</div>
<div class="edit-exam-list">
<span> Exams <span class="smaller"><%= link_to "Create new exam", newexam_course_path(@course) %></span></span>
<div class="course-edit-bar"></div>
<% if @exams.count > 0 %>
<div>
	Rearrange order:
</div>
<% else %>
	No exams created yet.
<% end %>
<ul class="notes">
	<div id="list_exam_det">
		<%= render "exams/exam_list" %>
	</div>
</ul>
</div>

