<% provide(:title, "Edit Course") %>
<h1>
	<%= @course.title %> <span class="edit-title-course"><%= link_to "Return to course", course_path(@course) %></span>
</h1>
<% if params.has_key?(:errors) %> 
	<div class="error_explanation">
		<div class="alert alert-error">
			<% if params.has_key?(:youtuber) %>
				The video form contains <%= pluralize(params[:errors].count, "error") %>.
			<% else %>
				The file form contains <%= pluralize(params[:errors].count, "error") %>.
			<% end %>
		</div>
		<ul>
			<% params[:errors].each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="course-edit-form-cont">
<%= form_for @course do |f| %>
<%= render 'shared/error_messages', object: f.object, :html => { :id => "myform" } %>
	<div>
		<%= f.label "Course Title :" %>
	<span>
		<%= f.text_field :title %>
	</span>
	</div>
	<div>
		<%= f.label "Course Description :" %>
	<span>
		<%= f.text_area :description %>
	</span>
	</div>
	<div><%= f.submit "Update Course Info", class: "subcon" %></div>
<% end %>
</div>
<div class="edit-note-list">
	Notes and Videos
<div class="course-edit-bar"></div>
<div class="note_formform">
	<%= render "shared/note_form" %>
	<%= render "shared/youtube_form" %>
</div>
<div class="vid_formform">
<% if @notes.count > 0 %>
<div>
	Rearrange order:
</div>
<% else %>
	No files or videos created yet.
<% end %>
<ul class="notes">
<% @notes.each_with_index do |note, i| %>
	<% if !note.filename.nil? %>
	<li>
		<%= link_to (image_tag "arrow-up.png"), moveupfile_path(:id => note.id, :course => @course.id), {:class => "list_arrow"}%>
		<%= link_to (image_tag "arrow-down.png"), movedownfile_path(:id => note.id, :course => @course.id), {:class => "list_arrow"}%>
		<%= i+1 %>.
		<% if note.contenttype == "application/pdf" or note.contenttype == "youtube" %>
			<span class="content">
				<%= link_to note.file_title, viewfile_path(id: note.id) %>
			</span>
		<% else %>
			<span class="content">
				<%= note.file_title %>
			</span>
		<% end %>
		<% if note.contenttype == "youtube" %>
			<span class="smaller">
				 VIDEO
			</span>
		<% end %>
		<span class="delete-btn">
		<% if creator? %>
			<%= link_to "Delete", note_path(:id => note.id), method: :delete,
										title: note.filename %>
		<% end %>
		</span>
	</li>
	<% end %>
<% end %>
</ul>
</div>
</div>
<div class="edit-exam-list">
<span> Exams <span class="smaller"><%= link_to "Create new exam", newexam_course_path(@course) %></span></span>
<div class="course-edit-bar"></div>
<% if @exams.count > 0 %>
<div>
	Rearrange order:
</div>
<% else %>
	No exams created yet.
<% end %>
<ul class="notes">
	<% @exams.each_with_index do |exam, i| %>
		<div>
			<span class="content">
				<%= link_to (image_tag "arrow-up.png"), moveupexam_path(:id => exam.id, :course => @course.id), {:class => "list_arrow"}%>
				<%= link_to (image_tag "arrow-down.png"), movedownexam_path(:id => exam.id, :course => @course.id), {:class => "list_arrow"}%>
				<%= i+1 %>.
				<%= link_to exam.name, exam_path(exam) %>
			</span>
			<span class="delete-btn">
			<%= link_to "Delete", exam_path(:id => exam.id), method: :delete, 
											title: exam.name %>
			</span>
		</div>
	<% end %>
</ul>
</div>

