<% provide(:title, "All Courses") %>
<div class="courses">
<h1>Here's a list of all courses!</h1>
<p>Sorted: rating algo</p>
<% @courses.each do |course| %>
	<%= link_to(course_path(course)) do %>
	<div class="course-list">
		<div class="category-image">
			<% if !Category.find_by_id(course.category).nil? %>
				<img src="data:<%= Category.find_by_id(course.category).imagetype %>;base64,<%= Category.find_by_id(course.category).image.to_s %>" />
			<% end %>
		</div>
		<div class="cours-cont">
			<div><span class="courstitle-list">
			<%= course.title %>
			</span>
			<span class="smaller">
				By <%= User.find_by_id(course.user_id).name %>
			</span>
			<!--<% if !courcreator?(course) %>
			<% if is_admin? %>
			<span class="delete-btn smaller">
			<%= link_to "delete", course, method: :delete, 
										  data: { confirm: "You sure?" },
										  title: course.title,
										  :admin => "yes" %>
			</span>
			<% end %>
			<% end %> -->
			</div>
			<div>Number of students: <%= course.numstudents %></div>
			<div class="list-star">
				<% if course.average_rating == 0 %>
					Not rated
				<% else %>
					<%= course.average_rating %> stars (<%= course.num_rating%>)
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
<% end %>
</div>