<% provide(:title, "All Courses") %>
<div class="courses">
<h1>Here's a list of all courses!</h1>
<p>Sorted: rating algo</p>
<% @courses.each do |course| %>
	<%= link_to(course_path(course)) do %>
	<div class="course-list">
		<div class="category-image">
			<% if !Category.find_by_id(course.category).nil? %>
				<img src="data:<%= Category.find_by_id(course.category).imagetype %>;base64,<%= Category.find_by_id(course.category).image.to_s %>" />
			<% end %>
		</div>
		<div class="cours-cont">
			<div class="cours-top">
				<span class="courstitle-list">
					<%= course.title %>
				</span>
				<span class="smaller">
					By <%= User.find_by_id(course.user_id).name %>
				</span>
			</div>
			<div class="cours-middle"><%= course.short_desc %></div>
			<div class="cours-stats">
				<span>
					Students: <%= course.numstudents %> &nbsp&nbsp
				</span>
				<span>
					Rating: 
				</span>
				<span class="list-star">
					<% if course.average_rating == 0 %>
						Not rated
					<% else %>
						<%= course.average_rating %> stars (<%= course.num_rating%>)
					<% end %>
				</span>
			</div>
		</div>
	</div>
	<% end %>
<% end %>
</div>