<% provide(:title, @course.title) %>
<div class="course-show">
	<div class="course-info">
	<% if params.has_key?(:program) %>
		<h1>
			<%= link_to "#{@program.title}", program_path(@program) %> - <%= @course.title %><span class="smaller">by <%= @course.user.name %></span>
		</h1>
	<% else %>
		<h1>
			<%= @course.title %><span class="smaller">by <%= @course.user.name %></span>
		</h1>
	<% end %>
	<% if params.has_key?(:program) %>
		<% if @prereqs.count > 0 %>
		<div class="progcount">
			Prerequisites:
		</div>
		<% @courses.each do |prereq| %>
			<div class="prereq-list-style"><%= link_to prereq.title, course_path(prereq, :program => @program.id) %></div>
		<% end %>
		<% end %>
	<% else %>
		<% if @course.programs.count > 0 %>
		<div class="progcount">
			This course is registered in <%= pluralize(@course.programs.count, 'program') %>.
		</div>
		<% end %>
	<% end %>
	<div id="class-des">
		<%= @course.description %>
	</div>
	</div>
	<div class="course-btns">
		<% if current_user.creator %>
			<div id="cart-btn-course">
				<% if !(current_user.classincart?(@course)) %>
					<%= render 'add_to_cart' %>
				<% else %>
					<%= render 'remove_from_cart' %>
				<% end %>
			</div>
		<% end %>
		<% if !params.has_key?(:program)%>
			<% if current_user.courseregistered?(@course) %>
				<%= render 'remove_courseregistration' %>
			<% else %>
				<%= render 'add_courseregistration' %>
			<% end %>
		<% else %>
			<% if !current_user.registered?(@program) %>
				<%= render 'programs/add_registration' %>
			<% end %>
		<% end %>
		<% if courcreator and !params.has_key?(:program) %>
			<div id="edit-btn-1">
			<div class="edit-btn profile-btn">
				<%= link_to "Edit", edit_course_path(@course) %>
			</div>
			</div>
		<% end %>
	</div>
	<div class="files-container">
		<div id="files">
			<span id="file-upload">
				<span>Files and Videos</span>
			</span>
		</div>
		<div class="files-bar"></div>
		<div>
			<% if @notes.any? %>
				<% if !@notes.nil? %>
						<ul class="notes">
							<%= render @notes %>
						</ul>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="exams-container">
		<div id="exams">
			<span>Exams</span>
		</div>
		<div class="files-bar"></div>
		<div>
			<% if @exams.any? %>
				<% if !@exams.nil? %>
						<ul class="notes">
							<% @exams.each do |exam| %>
								<div>
									<% if @see_exam %>
										<% if params.has_key?(:program) %>
											<span class="content"><%= link_to exam.name, exam_path(exam, program: params[:program]) %></span>
										<% else %>
											<span class="content"><%= link_to exam.name, exam_path(exam) %></span>
										<% end %>
									<% else %>
										<span class="exam-hover"><%= exam.name %></span>
									<% end %>
									<% if current_user.examresults.where("exam_id = ?", exam.id).exists? %>
										<% if current_user.examresults.find_by_exam_id(exam.id).finalgrade < exam.grade %>
											<span> - </span><span id="exam_failed">Failed (Grade Required <%= exam.grade %>%)</span>
										<% else %>
											<span> - </span><span id="exam_passed">Passed</span>
										<% end %>
										<span> - Highest Grade (<%= current_user.examresults.find_by_exam_id(exam.id).finalgrade %>%)</span>
									<% end %>
								</div>
							<% end %>
						</ul>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="reviews-container">
		<div class="reviews">
			<span>Course Reviews</span>
		</div>
		<div class="files-bar"></div>
		<div class="course-rating-cont">
			<div class="course-rating-title">
				<% if @averagerating == "0" %>
					<span class="no-star">No ratings yet | </span>
				<% else %>
				<span class="star-title">Average Rating: </span>
					<span class="star-cont">
						<span class="star" style="width:<%= @good_starwidth %>">★★★★★</span>
						<span class="anti-star" style="width:<%= @anti_starwidth %>"><span class="star-right">☆☆☆☆☆</span></span>
					</span>
					<span class="star-title">(<%= pluralize(@num_rates, "rating")%>)</span> | </div>
					<% end %>
			</div>
			<div class="course-rating"><%= form_for @rating do |f| %>
				<%= f.radio_button :rating, "1" %> <%= f.label :rating, "1" %>
				<%= f.radio_button :rating, "2" %> <%= f.label :rating, "2" %>
				<%= f.radio_button :rating, "3" %> <%= f.label :rating, "3" %>
				<%= f.radio_button :rating, "4" %> <%= f.label :rating, "4" %>
				<%= f.radio_button :rating, "5" %> <%= f.label :rating, "5" %>
				<%= f.hidden_field :id, :value => params[:id] %>
				<%= f.submit "Rate Course!"%>
			</div>
			<% end %>
		</div>
		<div class="review-text">
			<ul class="review-list">
				<% @coursereviews.each do |review| %>
					<li>
						<h4>
							<% if !(review.rating.nil?) %>
								<% @good_starwidth_person = (review.rating/0.05).to_f.to_s + "%" %>
								<% @anti_starwidth_person = ((5-review.rating)/0.05).to_f.to_s + "%" %>
								<span class="star-cont">
									<span class="star" style="width:<%= @good_starwidth_person %>">★★★★★</span>
									<span class="anti-star" style="width:<%= @anti_starwidth_person %>">
										<span class="star-right">☆☆☆☆☆</span>
									</span>
								</span>
							<% else %>
								No rating
							<% end %>
							<%= review.review_title %> <span id="reviewer-name"> By <%= review.user.name %></span>
						</h4>
						<span id="reviewer-content"><%= review.review_content %></span>
					</li>
				<% end %>
			</ul>
			<div>
				<%= form_for @review do |f| %>
					<div>
						<%= f.label :review_title, "Review Title :" %>
						<%= f.text_field :review_title %>
					</div>
					<div id="review-box-cont">
						<div><%= f.label :review_content, "Review :" %></div>
						<div><%= f.text_area :review_content, :id => "review-box"%></div>
					</div>
					<%= f.hidden_field :id, :value => params[:id] %>
					<%= f.submit "Submit Review"%>
				<% end %>
			</div>
		</div>
	</div>
</div>