<% provide(:title, @course.title) %>
<div class="course-show">
	<h1>
		<%= @course.title %>
	</h1>
	<div id="cart-btn-course">
		<% if !(current_user.classincart?(@course)) %>
			<%= render 'add_to_cart' %>
		<% else %>
			<%= render 'remove_from_cart' %>
		<% end %>
	</div>
	<% if params.has_key?(:program) %>
		<% if @prereqs.count > 0 %>
		<div class="progcount">
			Prerequisites:
		</div>
		<% @courses.each do |prereq| %>
			<div><%= prereq.title %></div>
		<% end %>
		<% end %>
	<% else %>
		<% if @course.programs.count > 0 %>
		<div class="progcount">
			This course is registered in <%= pluralize(@course.programs.count, 'program') %>.
		</div>
		<% end %>
	<% end %>
	<div id="class-des">
		<%= @course.description %>
	</div>
	<% if courcreator %>
		<div class="edit-btn profile-btn">
			<%= link_to "Edit", edit_course_path(@course) %>
		</div>
	<% end %>
	<div class="files-padding">&nbsp</div>
	<div id="files">
		<span>Files</span>
	<div id="file-upload">
		<% if courcreator %>
			<%= render 'shared/note_form' %>
		<% end %>
	</div>
	</div>
	<div class="files-bar"></div>
	<div>
		<% if @notes.any? %>
			<% if !@notes.nil? %>
					<ul class="notes">
						<%= render @notes %>
					</ul>
			<% end %>
		<% else %>
		<% end %>
	</div>
</div>