<% provide(:title, @course.title) %>
<div class="course-show">
	<div class="course-info">
	<h1>
		<%= @course.title %>
	</h1>
	<% if params.has_key?(:program) %>
		<% if @prereqs.count > 0 %>
		<div class="progcount">
			Prerequisites:
		</div>
		<% @courses.each do |prereq| %>
			<div class="prereq-list-style"><%= link_to prereq.title, course_path(prereq, :program => @program.id) %></div>
		<% end %>
		<% end %>
	<% else %>
		<% if @course.programs.count > 0 %>
		<div class="progcount">
			This course is registered in <%= pluralize(@course.programs.count, 'program') %>.
		</div>
		<% end %>
	<% end %>
	<div id="class-des">
		<%= @course.description %>
	</div>
	</div>
	<div class="course-btns">
		<div id="cart-btn-course">
			<% if !(current_user.classincart?(@course)) %>
				<%= render 'add_to_cart' %>
			<% else %>
				<%= render 'remove_from_cart' %>
			<% end %>
		</div>
		<% if courcreator %>
			<div id="edit-btn-1">
			<div class="edit-btn profile-btn">
				<%= link_to "Edit", edit_course_path(@course) %>
			</div>
			</div>
		<% end %>
		<% if current_user.courseregistered?(@course) %>
			<%= render 'remove_courseregistration' %>
		<% else %>
			<%= render 'add_courseregistration' %>
		<% end %>
	</div>
	<div class="files-container">
		<div id="files">
			<span>Files</span>
			<div id="file-upload">
				<% if courcreator %>
					<%= render 'shared/note_form' %>
				<% end %>
			</div>
		</div>
		<div class="files-bar"></div>
		<div>
			<% if @notes.any? %>
				<% if !@notes.nil? %>
						<ul class="notes">
							<%= render @notes %>
						</ul>
				<% end %>
			<% end %>
		</div>
	</div>
</div>