<% provide(:title, @course.title) %>
<div class="course-show">
	<h1>
		<%= @course.title %>
	</h1>
	<% if courcreator %>
		<div class="edit-btn profile-btn">
			<%= link_to "Edit", edit_course_path(@course) %>
		</div>
	<% end %>
	<% if @course.programs.count > 0 %>
	<div class="progcount">
		This course is registered in <%= pluralize(@course.programs.count, 'program') %>.
	</div>
	<% end %>
	<div id="class-des">
		<%= @course.description %>
	</div>
	<div id="files">
		<span>Files</span>
	<div id="file-upload">
		<% if courcreator %>
			<%= render 'shared/note_form' %>
		<% end %>
	</div>
	</div>
	<div class="files-bar"></div>
	<div>
		<% if @notes.any? %>
			<% if !@notes.nil? %>
					<ul class="notes">
						<%= render @notes %>
					</ul>
			<% end %>
		<% else %>
		<% end %>
	</div>
</div>