<% provide(:title, @exam.name) %>
<h1>
	<div><%= @course.title %> - <%= @exam.name %></div>
</h1>
<div>Grade required to pass: <%= @exam.grade %>%</div>
<%= form_tag examresults_path do %>
	<% @questions.each_with_index do |question, i| %>
		<h3 class="question-titles">Question #<%= i+1 %> : <%= question.name %></h3>
		<%= fields_for "questions[]" do |j| %>
			<% question.answers.each do |answer| %>
				<div class="exam-answers">
				<span class="answer-btn-tag"><%= radio_button_tag("question[#{question.id}]", "#{answer.id}") %></span>
				<%= label_tag("question_#{question.id}_#{answer.id}", "#{answer.name}") %>
				</div>
			<% end %>
		<% end %>
	<% end %>
	<% if params.has_key?(:program) %>
		<%= hidden_field_tag "program", params[:program]%>
	<% end %>
	<%= hidden_field_tag "id", params[:id]%>
	<%= submit_tag "Complete Exam", :class => "exam-finish-btn"%>
<% end %>