<span id="barcolor"></span>
<div class="navbar">
	<span id="navbar-logo">
		<%= link_to "Learnocracy", root_path %>
		<span id="logo-beta">
			beta
		</span>
	</span>
	<span>
		<% if signed_in? %>
			<ul class="nav-right navhov-list">
				<% if is_admin? %>
				<li>
					<%= link_to "Database", database_path %>
				</li>
				<% end %>
				<li>
					<%= link_to "My Courses", current_user %>
				</li>
				<li>
					<%= link_to 'All Programs', programs_path %>
				</li>
				<li>
					<%= link_to 'All Courses', courses_path %>
				</li>
				<li class="search-btn">
					<%= link_to 'Search', "#" %>
				</li>
				<li id="fat-menu" class="dropdown click">
					<a href="#">
						Account
					</a>
				</li>
			</ul>
			<div id="search-menu">
				<div class="search-menu">
					<form method="post" action="/search">
						Course/Program :  
						<%= form_tag('/search') do %>
							<%= text_field_tag 'fname' %>
					  		<%= submit_tag 'Search', :class => 'search-btn' %>
						<% end %>
					</form>
				</div>
			</div>
			<div class="menu-div">
				<ul class="dropdown-menu">
					<li>	
						<%= link_to "Profile", current_user %>
					</li>
					<% if current_user.creator or (current_user.programs.any? or current_user.courses.any?) %>
						<li>
							<%= link_to "My Creations", creations_path %>
						</li>
					<% end %>
					<% if current_user.creator %>
						<li>
							<%= link_to "My Cart", "/cart" %>
						</li>
					<% end %>
					<li>
						<%= link_to "Settings", edit_user_path(current_user) %>
					</li>
					<li class="red">
						<%= link_to "Sign out", signout_path, method: "delete" %>
					</li>
				</ul>
			</div>
		<% else %>
			<span id="signin" class="navhov">
				Sign In
			</span>
			<div id="signin-menu">
				<div class="signin">
					<%= form_for(:session, url: sessions_path) do |f| %>
					<div id="email-cont">
						<span>
							<%= f.label :email %>
						</span>
						<span id="email-box">
							<%= f.text_field :email %>
						</span>
					</div>
					<div id="pwbox">
						<%= f.label :password %>
						<%= f.password_field :password %>
					</div>
					<div id="signin-btn">
						<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
					</div>
					<div id="newusr">New user? <%= link_to "Sign up now!", signup_path %></div>
					<% end %>
				</div>
			</div>
		<% end %> 
	</span>
</div>