<span id="barcolor"></span>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="nav-container">
		<span id="navbar-logo">
			<%= link_to "Learnocracy", root_path %>
			<span id="logo-beta">
				beta
			</span>
		</span>
		<span>
			<% if signed_in? %>
				<ul class="nav-right navhov-list nav nav-pills">
					<% if is_admin? %>
					<li>
						<%= link_to "Database", database_path %>
					</li>
					<% end %>
					<li>
						<%= link_to "My Courses", current_user %>
					</li>
					<li>
						<%= link_to 'All Programs', programs_path %>
					</li>
					<li>
						<%= link_to 'All Courses', courses_path %>
					</li>
					<li>
						<%= link_to 'Search', search_path %>
					</li>
					<li class="with_drop dropdown">
						<a class="dropdown-toggle" href="#" id="dropdownMenu1" data-toggle="dropdown"> Main Menu
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu main_menu_drop">
							<li>	
								<%= link_to "Profile", current_user %>
							</li>
							<% if current_user.creator or (current_user.programs.any? or current_user.courses.any?) %>
								<li>
									<%= link_to "My Creations", creations_path %>
								</li>
							<% end %>
							<% if current_user.creator %>
								<li>
									<%= link_to "My Cart", "/cart" %>
								</li>
							<% end %>
							<li>
								<%= link_to "Settings", edit_user_path(current_user) %>
							</li>
							<li class="divider1"></li>
							<li class="red1">
								<%= link_to "Sign out", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
				</ul>
			<% else %>
				<ul class="nav-right navhov-list nav nav-pills">
					<li class="with_drop dropdown">
						<a class="dropdown-toggle" href="#" id="dropdownMenu1" data-toggle="dropdown"> Sign In
							<span class="caret"></span>
						</a>
						<div class="dropdown-menu pull-right signin_menu">
							<div class="signin_cont"> 
								<%= form_for(:session, url: sessions_path) do |f| %>
								<div class="form-group">
									<input type="text" name="session[email]" class="form-control" placeholder="Email">
									<div class="signin_divider"></div>
									<input type="password" name="session[password]" class="form-control" placeholder="Password">
								</div>
								<%= f.submit "Sign in", class: "btn btn-default pull-right" %>
								<div id="newusr">New user? <%= link_to "Sign up now!", signup_path %></div>
								<% end %>
							</div>
						</div>
					</li>
				</ul>
			<% end %> 
		</span>
	</div>
</nav>