<span id="barcolor"></span>
<div class="navbar">
	<span id="navbar-logo">
		<%= link_to "Learnocracy", root_path %>
	</span>
	<span>
		<% if signed_in? %>
			<ul class="nav-right navhov-list">
				<% if is_admin? %>
				<li>
					<%= link_to "Database", database_path %>
				</li>
				<% end %>
				<li id="fat-menu" class="dropdown click">
					<a href="#">
						Account
					</a>
				</li>
			</ul>
			<ul class="dropdown-menu click">
				<li>	
					<%= link_to "Profile", current_user %>
				</li>
				<li>
					<%= link_to "Settings", '#' %>
				</li>
				<li class="red">
					<%= link_to "Sign out", signout_path, method: "delete" %>
				</li>
			</ul>
			<% else %>
			<span id="signin" class="navhov">
				Sign In
			</span>
			<span id="signin-menu">
				<div class="signin">
					<%= form_for(:session, url: sessions_path) do |f| %>
					<div id="email-cont">
						<span>
							<%= f.label :email %>
						</span>
						<span id="email-box">
							<%= f.text_field :email %>
						</span>
					</div>
					<div>
						<%= f.label :password %>
						<%= f.password_field :password %>
					</div>
					<div id="signin-btn">
						<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
					</div>
					<% end %>
					<p>New user? <%= link_to "Sign up now!", signup_path %></p>
				</div>
			</span>
		<% end %> 
	</span>
</div>