<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="all-container">
		<%= render 'layouts/header' %>
		<div id="body-container">
			<div id="body-info">
				<% flash.each do |key, value| %>
					<div id="welcome"><%= value %></div>
				<% end %>
				<%= yield %>
				<span id="body-signin"></span>
			</div>
		</div>
		<div id="body-signin">&nbsp</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
