<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<span id="body-container">
		<% flash.each do |key, value| %>
			<div id="welcome"><%= value %></div>
		<% end %>
		<%= yield %>
		<span id="body-signin"></span>
	</span>
	<!--<img src="/images/vancouver.jpg" class="background">-->
	<%= render 'layouts/footer' %>
</body>
</html>
