<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<div id="all-container">
		<%= render 'layouts/header' %>
		<div id="body-container" class="<%= @home_page ? 'homepage' : 'not_home'%>" >
			<div id="body-info">
				<% flash.each do |key, value| %>
					<div id="welcome"><%= value %></div>
				<% end %>
				<%= yield %>
				<span id="body-signin"></span>
			</div>
		</div>
		<div id="body-signin">&nbsp</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
